<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.vanderbilt.vandycourseplanner.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="edu.vanderbilt.vandycourseplanner.pojo.Course">
        <id column="Number" property="Number" />
        <id column="Subject" property="Subject" />
        <result column="Name" property="Name" />
        <result column="Frequency" property="Frequency" />
    </resultMap>
    
    <resultMap id="FullCourseDetail" type="edu.vanderbilt.vandycourseplanner.pojo.Course"
               extends="BaseResultMap">
        <collection property="professors"
                    javaType="java.util.List"
                    ofType="edu.vanderbilt.vandycourseplanner.pojo.Professor">
            <id column="Tid" property="Tid" />
            <result column="ProfName" jdbcType="VARCHAR" property="Name" />
            <result column="Over_rate" property="Over_rate"/>
            <result column="Diff_rate" property="Diff_rate"/>
        </collection>
        <collection property="prerequisites"
                    javaType="java.util.List"
                    ofType="edu.vanderbilt.vandycourseplanner.pojo.Prerequisite">
            <id column="Pre_subject" property="Pre_subject"/>
            <id column="Pre_course_no" property="Pre_course_no"/>
            <result column="Level" property="Level"/>
        </collection>
    </resultMap>

    <resultMap id="CoursePrereqs" type="edu.vanderbilt.vandycourseplanner.pojo.Course"
               extends="BaseResultMap">
        <collection property="prerequisites"
                    ofType="edu.vanderbilt.vandycourseplanner.pojo.Prerequisite">
            <id column="Pre_subject" property="Pre_subject"/>
            <id column="Pre_course_no" property="Pre_course_no"/>
            <result column="Level" property="Level"/>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Number, Subject, Name, Frequency
    </sql>

    <select id="getCourseBySubjectAndNumber" resultMap="BaseResultMap">
        SELECT * FROM Course c WHERE #{subject} = c.Subject AND #{number}=c.Number
    </select>

    <select id="getAllCourseWithPrereqs" resultMap="CoursePrereqs">
        SELECT c.Subject,
               c.Number,
               c.Name,
               pre.Pre_subject,
               pre.Pre_course_no,
               pre.level
        FROM Course AS c
            LEFT JOIN Prerequisite pre
                ON c.Subject = pre.Subject
                       AND c.Number =    pre.Course_no
        ORDER BY c.Number, pre.level;
    </select>

    <select id="getCoursesByLevel" resultMap="FullCourseDetail">
        SELECT DISTINCT MOD(c.Number, 10000) AS Number,
                        c.Subject,
                        c.Name,
                        c.Frequency,
                        pre.Pre_subject,
                        pre.Pre_course_no,
                        pre.Level,
                        p.Tid,0 AS Tid,
                        p.Name AS ProfName,
                        p.Over_rate AS Over_rate,
                        p.Diff_rate AS Diff_rate
        FROM Course c
            LEFT JOIN Prerequisite pre
                ON c.Subject = pre.Subject
                       AND c.Number = pre.Course_no
            LEFT JOIN Teaching t
                ON c.Subject = t.Subject
                       AND c.Number = t.Course_no
            LEFT JOIN Professor p
                ON p.Tid = t.Tid
        <if test="level != null">
            WHERE c.Subject = 'CS'
            AND (c.Number % 10000) >= (#{level} * 1000)
            AND ((#{level}+1) * 1000) > (c.Number % 10000)
        </if>
        ORDER BY c.Number, pre.Level;
    </select>

</mapper>
