<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.vanderbilt.vandycourseplanner.mapper.PrerequisiteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="edu.vanderbilt.vandycourseplanner.pojo.Prerequisite">
        <id column="Pre_subject" property="Pre_subject" />
        <result column="Pre_course_no" property="Pre_course_no" />
        <result column="Subject" property="Subject" />
        <result column="Course_no" property="Course_no" />
        <result column="Level" property="Level" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Pre_subject, Pre_course_no, Subject, Course_no, Level
    </sql>

    <select id="getPrereqsByCourseSubjectAndNumber" resultMap="BaseResultMap">
        SELECT * FROM Prerequisite pre WHERE
        (#{subject} = pre.Subject AND #{number} = pre.Course_no)
        OR
        (#{subject} =  pre.Pre_subject AND #{number}=pre.Pre_course_no AND pre.Level=0)
        ORDER BY Level
    </select>

</mapper>
