<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.vanderbilt.vandycourseplanner.mapper.ProfessorMapper">

    <!-- Author: Toby Zhu -->
    <!-- SQL query implementation for professor services -->

    <resultMap id="BaseResultMap" type="edu.vanderbilt.vandycourseplanner.pojo.Professor">
        <id column="Tid" property="Tid" />
        <result column="Name" property="Name" />
        <result column="Over_rate" property="Over_rate" />
        <result column="Diff_rate" property="Diff_rate" />
    </resultMap>

    <sql id="Base_Column_List">
        Tid, Name, Over_rate, Diff_rate
    </sql>

</mapper>
