<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.vanderbilt.mapper.ProfessorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="edu.vanderbilt.vandycourseplanner.pojo.Professor">
        <id column="Tid" property="Tid" />
        <result column="Name" property="Name" />
        <result column="Over_rate" property="Over_rate" />
        <result column="Diff_rate" property="Diff_rate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Tid, Name, Over_rate, Diff_rate
    </sql>

</mapper>
